# Ignore datasets
/datasets
/experiments

# Python
__pycache__/

# Model checkpoints
/checkpoints
*.pt
*.pkl
*.pth

# Logs
*.log

# Direnv
/.direnv

# Image outputs
*.png

# Concept Descriptions
*.csv
